.search {
  -webkit-appearance: none;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  width: 300px;
  margin: 10px 0 20px 0;
  padding: 10px 10px 10px 15px;
  font-size: 18px;
}

::-webkit-input-placeholder {
  color: grey;
  font-size: 18px;
  vertical-align: middle;
}